[Unit]
Description=Run Ansible
After=network-online.target remote-fs.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=sleep 5
ExecStart=/usr/local/bin/run_playbooks.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
